.form__error {
    height: 20px;
    color: #ff0000;
    text-align: center;
}

.form__button-submit {
    background: #FF5555;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.login__button-submit {
    text-decoration: none;
    color: #0073CC;
}

.form {
    text-align: center;
}

.register-form__heading {
    text-align: center;
}

.login-form__content {
    background: #fff;
    /* 白背景 */
    width: 600px;
    height: 500px;
    margin: auto;
    /* 上下中央寄せ */
    padding: 40px;
    border-radius: 8px;
    box-sizing: border-box;
    /* padding込みで680×656になる */
}

/* 見出し */
.register-form__heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

/* 入力フィールド */
.form__group {
    margin-bottom: 10px;
    text-align: left;
}

.form__label--item {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.form__input--text input {
    width: 100%;
    padding: 10px 10px;
    font-size: 26px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* エラーメッセージ */
.form__error {
    height: 20px;
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

.form__button-submit {
    background: #FF5555;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    font-size: 26px;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.form__button-submit:hover {
    background: #ff3333;
}

.login__link {
    text-align: center;
    margin-top: 20px;
}

.login__button-submit {
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
}

.login__button-submit:hover {
    text-decoration: underline;
}