.header {
    background: #000;
    width: 100%;
}

/* 右側ナビ全体をまとめる */
.header__nav {
    display: flex;
    align-items: center;
    gap: 15px;
    /* ボタン間の余白 */
    margin-left: auto;
    /* 右端に寄せる */
}

.header__inner {
    padding: 22px 25px;
    display: flex;
    align-items: center;
    /* 縦中央揃え */
    gap: 20px;
    /* 要素間の余白 */
    height: 80px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header__logo img {
    max-width: 370px;
    /* PCでは370pxまで */
    width: 100%;
    /* 親要素に合わせて縮小可能に */
    height: auto;
}

@media screen and (max-width: 768px) {
    .header__logo img {
        width: 200px;
    }
}



.header-nav__button {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    white-space: nowrap;
}

.login-nav__button,
.sell__button {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    padding-top: 4px;
    white-space: nowrap;
}

.header-nav__button:hover,
.sell__button:hover {
    color: #a9a9a9;
}

.profile-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* 丸くする */
    object-fit: cover;
    /* 画像の比率を維持して切り取り */
}


