.header {
    background: #000;
    width: 100%;
}

/* 右側ナビ全体をまとめる */
.header__nav {
    display: flex;
    align-items: center;
    gap: 15px;
    /* ボタン間の余白 */
    margin-left: auto;
    /* 右端に寄せる */
}

.header__inner {
    padding: 22px 25px;
    display: flex;
    align-items: center;
    /* 縦中央揃え */
    gap: 20px;
    /* 要素間の余白 */
    height: 80px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header__logo img {
    max-width: 370px;
    /* PCでは370pxまで */
    width: 100%;
    /* 親要素に合わせて縮小可能に */
    height: auto;
}

@media screen and (max-width: 768px) {
    .header__logo img {
        width: 200px;
    }
}

/* 検索フォーム */
.search-form {
    flex: 1;
    /* 横幅いっぱいに広がる */
    min-width: 0;
    max-width: 500px;
}

.search-form input[type="text"] {
    width: 100%;
    padding: 8px 14px;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    background-color: #FFFFFF;

}

.header-nav__button {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    white-space: nowrap;
}

.login-nav__button {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    padding-top: 4px;
    white-space: nowrap;
}

.header-nav__button:hover,
.login-nav__button:hover {
    color: #a9a9a9;
}

.profile-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* 丸くする */
    object-fit: cover;
    /* 画像の比率を維持して切り取り */
}

.comment-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* 丸くする */
    object-fit: cover;
    /* 画像の比率を維持して切り取り */
}

.sell__button {
    width: 100px;
    font-size: 24px;
    color: #000000;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.sell__button:hover {
    background: #a9a9a9;
    color: #fff;
}